.productTrolley {
    display: flex;
    margin-top: 5%;
    border-radius: .25em;
    background-color: var(--secondary);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
   
  }
 .caja{
  display: grid;
  place-content: center;
  width:25px ;
  height: 25px;
  background-color: var(--secondary);
  border-color: black;
  border-style: double;
 
 }
 .titulo, p, .caja{
  margin: .5em;
  

 }
.cajaimagen{

  display: grid;
  place-items: center;
}
  .imagen{
    
    width: 98px;
    height: 100px;
  }

  .bton{
    display: grid;
    
    box-sizing: border-box;
    height: 50px;
    padding-top: .5em;
    padding-right: .5em;
   
  }
  .baton{
    font-size: 15px;
    
  }
  .canti{
    padding-left: .5em;
    font-weight: bold;
  }
  button{
    position: absolute;
    right: 7%;
  }
  .titulo{
    overflow: hidden;
  }