.productCard {
  height: 100%;
  display: grid;
  place-items: center;
  gap: .5em;
  padding: .5em;
  background-color: var(--secondary);
  aspect-ratio: 1/1;
  border-radius: .5em;
  grid-template-rows: 1fr .20fr;
  overflow: hidden;
  position: relative;
}

.productImage {
  object-fit: contain;
  object-position: center;
}
.productName {
  font-size: .9em;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  white-space: nowrap;
  background-color: var(--secondary);
}

.productShop {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add {
  padding: .25em;
  background-color: var(--text);
  color: var(--base);
}

.productPrice {
  font-size: .8em;
  font-weight: bold;
  background-color: var(--text);
  color: var(--base);
  padding-inline: .5em;
  border-radius: 1em;
  position: absolute;
  top: .5em;
  right: .5em;
}
