.productTrolley {
    display: grid;
    align-items: center;
    
    margin-top: 5%;
    border-radius: .25em;
    background-color: var(--secondary);
    aspect-ratio: 1/1;
    border-radius: .5em;
    width: 90%;
    
    
   
  }
 

  .imagen{
    
    width: 96px;
    height: 110px;
  }