*,*::after,*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

:root {
  --primary: #C3E703;
  --primary-hover: #96ae0c;
  --accent: #96D1C7;
  --secondary: #F0F1F2;
  --text: #000000;
  --base: #ffffff;
}


button {
  padding: .75em 1.5em;
  border: none;
  border-radius: .5em;
  background-color: var(--primary);
  color: var(--text);
  font-weight: bold;
  cursor: pointer;
  transition: all .15s ease-in-out;
}

button:hover {
  background-color: var(--primary-hover);
}

img {
  width: 100%;
  max-width: 100%;
}


.bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;

}